h1 {
  border-bottom: #e7e7e7 1px solid;
}
h2 {
  color: rgba(51, 51, 51, 0.719);
}
li {
  div.li-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
    p.cat-count-header {
      margin-left: 5%;
      font-weight: 600;
    }
    p.cat-count {
      margin-left: 7%;
    }
    div {
      span {
        background-color: green;
      }
      span.sub-cat {
        background-color: blue;
      }
    }
  }
}
