.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d13;
  color: #777;
  border-radius: 4px;
}
.card-container {
  border:  1px solid #e7e7e7;
  padding: 1em;
}
.authors {
  display: flex;
  justify-content: center;
  margin: 2em;
}
img.profile {
  height: 150px;
}
