.signup-header {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
}
div.signin-wrapper {
  max-width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.form-get-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    width: 48%;
  }
}

.submit-signin {
  margin: 1% 45%
}
